* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  display: block;
  font-family: 'Quicksand', Arial, sans-serif;
  background-color: #e0e0e0;
  color: #5B6572;
}
